body {
    margin: 0px;
    background-image: url("../images/coders.jpg");
    font-size: 16px;
}
h1 , h4{
    text-align: center;
}

.header-text {
    padding-top: 50px;
}

.form-controller {
   display: block;
   text-align: left;
   background-color: rgb(27 27 50 / 80%);
   border: 1px solid black;
   padding: 10px 15px 10px 20px;
   margin: 20px auto;
   width: 600px;
   border-radius: 10px;
   color: #fff;  
}

form > div {
    padding: 10px 10px;
}

form > div > label {
    padding-bottom: 5px;
}

.inputs-fields{
    width: 100%;
    padding-top: 5px;
    border: 2px solid white;
    height: 30px;
    background-color: white;
    border-radius: 1px;

}

button{
    background-color:#35B064;
    width: 100%;
    height: 40px;
    border: 0px;

}

textarea{
    background-color: white;
    height: 100px;
    width: 100%;
    text-align: left;
}